header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

body {
  background-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: white;
  justify-content: flex-start;
  gap: 60px;
  padding: 10px 20px 10px 20px;
}

.images-header {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-plat {
  position: relative;
  z-index: -10000;
}

ul .card-content {
  list-style-type: none;
  width: 95%;
  background-color: white;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
ul .card-content .legand-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entrees {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  border: 0px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin: 0;
}

.content-menu {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  bottom: 20px;
  padding-bottom: 10px;
  border-radius: 20px 20px 0 0;
  height: max-content20px;
  margin-bottom: 0;
}

h3 {
  margin: 10px 0 20px 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  background: #F6F6F6;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.footer {
  bottom: 0;
  left: 0;
  box-shadow: 10px #555; /*ombre*/
  weight: 500;
  color: white;
  display: grid;
  align-self: end;
  font: roboto;
  background: #353535;
  size: 16px;
  line-height: 18, 75px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer p {
  margin-bottom: 5px;
}

footer h4 {
  margin-bottom: 5px;
}

footer img {
  width: 30%;
  filter: brightness(0) invert(1);
  margin-bottom: 15px;
}

.icone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}

.titre {
  background-color: white;
  font-family: Shrikhand;
  style: italic;
  size: 18px;
  line-height: 18px;
}

.coeur-gout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: roboto;
}

.btn-headerr {
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  border: 0px;
  cursor: pointer;
  width: 186px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.container-ul {
  width: 1055px;
  height: 1221px;
  position: relative;
  top: 0px;
  left: 193px;
  background: #F6F6F6;
}/*# sourceMappingURL=menu-01.css.map */